---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import LogoPng from '../assets/death-knot-logo-transparent.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Image src={LogoPng} alt="site logo" />
			<h1>Welcome Climbers!</h1>
			<p>
				This site is going to be a site where I can share what I know about climbing.  Like an idiot, when learning to climb I skipped the advice to find a mentor or hire a guide.  Armed with random blogs, books, and youtube videos I charged out there trying out how I figured things would work. Eventually learning many lessons the hard way and through blind luck I made it out mostly unscathed.   This site is going to be an attempt to help other idiots do the same and hopefully be able to learn even less the hard way than me.  Best of luck to you all
			</p>
			<br/>
			<p>
				- Ben
			</p>
		</main>
		<Footer />
	</body>
</html>
